        @keyframes gradient-animation {
            0% { background-position: 0% 50%; }
            50% { background-position: 100% 50%; }
            100% { background-position: 0% 50%; }
        }
        #menu{
            width: 100%;
            height: 50px;
            background-color: rgb(19, 12, 16);
        }
        #gear{
            width: auto;
            text-align: right;
            float: right;
        }
        #container{
            width: 1000px !important;
            height: 700px !important;
        }
        /*front-end div section*/
        #diva1,#diva2,#diva3,#diva4{
            justify-content: space-evenly;
            width: 1000px;
            height: 800px;
        }
        #p1,#p2,#p3{
            width: 400px;
            height: 100px;
        }
        #p4,#p5,#p6,#p7,#p8,#p9,#p10,#p11{
            width: 150px;
        }
        #p12{
            width: 800px;
            height: 700px !important;
        }
        p{
            display: block;
            font-size: 150%;
            text-shadow: 10px 10px 8px black;
            text-align: center;
        }
#main-gear:hover {
    color: gray;
    animation: spin 6s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
#diva1{
    display: none;
}