#gear{
    width: auto;
    text-align: right;
    float: right;
}
#container{
    width: 100% !important;
    height: 100% !important;
}
/*front-end div section*/
#diva1,#diva3,#diva4{
    justify-content: space-evenly;
    width: 1000px;
    height: 800px;
}
#p1,#p2,#p3{
    width: 300px; 
    height: 100px;
    white-space: nowrap;
}
#p8,#p9,#p10,#p11{
    width: 150px;
}
#p12{
    width: 800px;
    height: 700px !important;
}
p{
    display: block;
    font-size: 150%;
    /* text-shadow: 4px 4px 2px black; */
    text-align: center;
}
#diva1 {
    display: none;
}
#ram-info{
    display: flex;
}
#ram-gauge{
    position: relative;
    top: 20%;
    right: 80%;
}
#main-gear:hover {
    color: gray;
    animation: spin 6s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
#p4, #p5, #p6, #p7{
    background: rgba(255, 255, 255, 0.05); /* Размытый белый фон */
    backdrop-filter: blur(10px);          /* Эффект матового стекла */
    border: 1px solid rgba(255, 255, 255, 0.1); /* Тонкая светлая рамка */
    border-radius: 12px;                  /* Скругленные углы */
    padding: 20px;

}
#diva2{
display: none;
  flex-wrap: wrap;
  gap: 16px;
  padding: 24px;
  width: 100%;
  align-content: flex-start;
}