#return{
    width: auto;
    border: 0;
    cursor: pointer;
    text-align: right;
}
#fix_dsp{
    float: right;
}

.set{
    border: 0;
    font-size: 20px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    min-width: 600px;
    min-height: 120px;
    width: fit-content;
    height: fit-content;
    margin: 0 auto; 
    margin-top: 20px;
    padding: 15px;
}
.set:hover{
    border: 1px solid #e040fb;
}
#cn_label{
    position: relative;
    right: 75px;
}
.set input, .set select{
    margin-top: 20px;
    width: 150px;
}
.set select{
    width: 160px;
    margin-top: 10px !important;
}
#buttons{
    font-size: 15px;
    text-align: center;
    width: 200px;
    height: 50px;
    margin-top: 50px;
    background-color: rgba(255, 255, 255, 0.2);
    position: relative !important;
    left: 40% !important;
}
#apply{
    background-color: rgb(44, 97, 61);
    color: yellowgreen;
}
#apply:hover{
    cursor: pointer;
    filter: drop-shadow(0 0 20px rgba(30, 159, 58, 0.8));
    background-color:rgba(33, 170, 85, 0.8) !important; 
    color: rgb(29, 250, 77) !important;
}
#cancel{
    background-color: rgba(121, 43, 19, 0.8);
    color: rgb(202, 68, 16);
}
#cancel:hover{
    cursor: pointer;
    filter: drop-shadow(0 0 20px rgba(155, 43, 8, 0.8));
    background-color:rgba(160, 45, 32, 0.8) !important; 
    color: rgb(228, 21, 21) !important;
}
#s-e{
    font-size: 25px;
    position: relative;
    left: 30%;
    margin-top: 40px;
}
#choose{
    width: 200px;
    height: 35px;
}